/* Dubyas list of annoying stuff he hides in discord using Quick CSS */

/* Disable emoji inspection upsell (ty Regalia) */
[class^="nitroTextAndBadge_"], button:has([class^="premiumIcon_"]),
[class^="emojiSection_"] [class^="flex_"] div[class*="text-sm-normal"]
{
    display:none;
}

/* Disable Popup ads */
.containerWrapper_e18107,                   /* "Like this avatar decoration" popup on user modal */
container_e18107                            /* Profile effect ad */ {
    display: none;
}

/* Hide things in DMs page */
._972a0d22c8afa7f0-channel ._972a0d22c8afa7f0-linkButton > ._972a0d22c8afa7f0-link[href="/shop"], /* Hide 'Shop' Tab */
._972a0d22c8afa7f0-channel ._972a0d22c8afa7f0-linkButton > ._972a0d22c8afa7f0-link[href="/store"] /* Hide 'Ntiro' Tab */ {
  display: none;
}

/* Avatar Decorations */
svg[class^="avatarDecoration"],             /* Avatar Decorations */
img[class^="avatarDecoration"],             /* Avatar Decorations in Messages */
/* Fix 'View Profile' selector with hidden decoration */
[class*="bannerSVGWrapper_"] > mask > image {
    display: none;
}
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_] {
  top: -80px;
  left: 0px;
  position: relative;
}

/* Disable nitro icon on members list hover and opening nitro page */
/* Some discords have the boosting capitalized, some don't, no clue why. There's probably a cleaner way to do this. */
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"]) {
    pointer-events: none;
}

/* Make Super Reactions less annoying (ty Regalia) */
div[class^="effectsWrapper"] {
    display: none;
} 
img.emoji{
    opacity: 100;
}
div[class*="shakeReaction"] {
    animation: none !important;
}
/* Hide typing indicators toggle button */
[aria-label="Enable Typing"] {
    display: none;
}
/* Remove em profile effects */
[class^="profileEffects"] {
    display: none;
}

/* Hide shop button in Home */
a[data-list-item-id*="shop"] { display: none; }

/* Hide Nitro button in Home */
a[data-list-item-id$="___nitro"] { display: none; }
/* *[href="/discovery"],  */
/* *[href="/store"],  */
/* *[href="/activities"], */
/* *[href*="/snowsgiving"], */
/* div[aria-label="Gift Inventory"],  */
/* div[aria-label="Nitro"],  */
button[aria-label="Apps"], 
button[aria-label="Send a gift"], 
button[aria-label="Open sticker picker"] {
    display: none;
}
/* Hide 'Explore Discoverable Servers'/'Discover' in server page */
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"])
{
  display: none;
}

/* Make a buncha stuff black */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
.theme-midnight {
    --background-secondary-alt: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --input-background: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-low: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-lowest: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --bg-surface-overlay: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --chat-background-default: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-lower: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
}

/* Hide nitro nameplate decorations*/
[class*="plated"] [style^="background: linear-gradient("] { display: none; }

/* Hide DM Wallpapers */
div[class*="wallpaperContainer"] {
    background-image: none !important;
}

/* Remove Profile Reactions */
[class*='statusPopover'], [class*='avatarPopover__'], [class*='activityPopover__'] {display:none;}

/* Hide clan (guild) tags */
span[class*="clanTag_"]
{
    display: none;
}

/* Hide clan (guild) tags */
[class*="chipletContainerInner_"]:has([src*="/clan-badges/"]) { display: none; }

/* Hide useless bar at the top */
.visual-refresh {
  --vr-header-snippet-top: 0px;
  --vr-header-snippet-server-padding: 16px;
  --vr-header-snippet-space: 230px;
  --vr-header-snippet-button-padding: 0;

  div.f75fb00fb7356cbe-chat:not(.f75fb00fb7356cbe-threadSidebarOpen) div.f75fb00fb7356cbe-subtitleContainer,
  main._133bf5eea8e33a34-container,
  div._01ae244280823725-chatLayerWrapper {
    & section._9293f6b2fc12398a-container {
      padding-right: var(--vr-header-snippet-space);
    }
  }

  div._8a7fc664acf53af6-headerBar._8a7fc664acf53af6-overlay {
    padding-right: var(--vr-header-snippet-space);

    & ._65d410cfafd026bc-tab,
    & ._1ac1c54c56e5807c-searchBar {
      -webkit-app-region: no-drag;
    }
  }

  div.bfe55a0aaaf62375-videoControls div._495084e7a0006942-subtitleContainer {
    padding-right: calc(var(--vr-header-snippet-space) - 20px);

    & ._9293f6b2fc12398a-toolbar {
      -webkit-app-region: no-drag;
    }
  }

  div._5e434347c823b592-page {
    &:not(:has(> div.f75fb00fb7356cbe-chat)) {
      anchor-name: --vr-header-snippet;
    }

    & > div.f75fb00fb7356cbe-chat {
      anchor-name: --vr-header-snippet;
    }
  }

  div._5e434347c823b592-base {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

    &:has(div.c38106a3f0c3ca76-bar > div.c38106a3f0c3ca76-trailing ._496769951eb140fe-updateIconForeground) {
      & div.f75fb00fb7356cbe-chat,
      & div.f75fb00fb7356cbe-subtitleContainer,
      & main._133bf5eea8e33a34-container,
      & div._01ae244280823725-chatLayerWrapper {
        & section._9293f6b2fc12398a-container {
          padding-right: calc(var(--vr-header-snippet-space) + 50px);
        }
      }

      & div.bfe55a0aaaf62375-videoControls .bfe55a0aaaf62375-topControls div._9293f6b2fc12398a-toolbar {
        margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
      }
    }

    & > div._5e434347c823b592-content {
      z-index: 0;
    }

    & > div.c38106a3f0c3ca76-bar {
      position: absolute;
      position-anchor: --vr-header-snippet;
      top: var(--vr-header-snippet-top);
      right: anchor(right);
      width: anchor-size(width);
      padding: 0 var(--vr-header-snippet-button-padding) 0 0;

      & > .c38106a3f0c3ca76-title {
        display: none;
      }
    }

    &:has(> ._6e2b9359c6f84cfd-notice) {
      & > div.c38106a3f0c3ca76-bar {
        top: anchor(top);
      }
    }

    & div.c38106a3f0c3ca76-trailing {
      background: none;
      border: none;
      height: var(--custom-channel-header-height);
    }

    &:has(.f75fb00fb7356cbe-threadSidebarOpen.f75fb00fb7356cbe-threadSidebarFloating)
      > .c38106a3f0c3ca76-bar {
      z-index: 0;
    }
  }

  :not(:has(div._5e434347c823b592-page > div.f75fb00fb7356cbe-chat))
    div._5e434347c823b592-base
    > div.c38106a3f0c3ca76-bar {
    right: 0 !important;
  }

  ul[data-list-id="guildsnav"] > div.ef3116c2da186559-itemsContainer > div.dbd2630aec71879b-stack {
    margin-top: var(--vr-header-snippet-server-padding);
  }

  section._0b56311ebc6682e2-header div._9293f6b2fc12398a-toolbar,
  section.c791b281f2fedc32-header div._9293f6b2fc12398a-toolbar,
  section.c791b281f2fedc32-header div._9293f6b2fc12398a-children,
  :not(.bfe55a0aaaf62375-videoControls) div._6ec1a06139ec3b27-topic {
    -webkit-app-region: no-drag;
  }

  .div.bfe55a0aaaf62375-videoControls .bfe55a0aaaf62375-topControls {
    z-index: -1;
  }
}

/*Don't cover server list with panel*/
.visual-refresh section._5e434347c823b592-panels {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: content-box;

  .e131a99484292a19-actionButtons button {
    padding: 0;
  }
    }
nav._5e434347c823b592-guilds {
  margin-bottom: 0 !important;
}

/* Turn animated role colours static */
[class*=usernameGradient] {
    background: var(--custom-gradient-color-1);
    -webkit-background-clip: text;
    &::after {
        display: none
    }
}

/*Hide nameplates in DM list*/
li[class*="channel__"] > div[class*="interactive__"] > div[class*="container__"]:is([class*="fadeIn__"], :has(> div[class*="videoContainer__"])) {
	display: none;
}

/*Hide server boost goal bar*/
._0d0f9ddd12a3ace3-container._0d0f9ddd12a3ace3-containerWithMargin { display: none !important; }

/*Hide Add Emoji button*/
div[class*=emojiPicker] > div[class*=header] > button { display: none; }

/*Hide every chatbar button OTHER THAN emoji*/
._740174f3d6a2c8fe-buttons > div:not(:has([class^="_04eede68d145ae81-spriteContainer"])) {
    display: none;
}

/*Hide username fonts*/
.c19a557985eb7793-username._89a318b9387eda06-dnsFont {
  font-family: var(--font-primary);
}
[data-username-with-effects] {
  animation: none !important;
  font-family: var(--font-display);
  color: var(--text-default) !important;
  -webkit-text-fill-color: unset !important;
  --custom-display-name-styles-gradient-start-color: var(--text-default);
  --custom-display-name-styles-gradient-end-color: var(--text-default);
  --custom-display-name-styles-main-color: var(--text-default);
  &::before {
    content: unset !important;
  }
}

/*Hide Quests button in DM list*/
[href="/quest-home"] {display: none}
