/* Dubyas list of annoying stuff he hides in discord using Quick CSS */

/* Disable emoji inspection upsell (ty Regalia) */
[class^="nitroTextAndBadge_"], button:has([class^="premiumIcon_"]),
[class^="emojiSection_"] [class^="flex_"] div[class*="text-sm-normal"]
{
    display:none;
}

/* Disable Popup ads */
.containerWrapper_e18107,                   /* "Like this avatar decoration" popup on user modal */
container_e18107                            /* Profile effect ad */ {
    display: none;
}

/* Hide things in DMs page */
._972a0d22c8afa7f0-channel ._972a0d22c8afa7f0-linkButton > ._972a0d22c8afa7f0-link[href="/shop"], /* Hide 'Shop' Tab */
._972a0d22c8afa7f0-channel ._972a0d22c8afa7f0-linkButton > ._972a0d22c8afa7f0-link[href="/store"] /* Hide 'Ntiro' Tab */ {
  display: none;
}

/* disable avatar deco*/
[class*="avatarDecoration"] {
  display: none;
}

/* Fix 'View Profile' selector with hidden decoration */
[class*="bannerSVGWrapper_"] > mask > image {
    display: none;
}
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_] {
  top: -80px;
  left: 0px;
  position: relative;
}

/* Disable nitro icon on members list hover and opening nitro page */
/* Some discords have the boosting capitalized, some don't, no clue why. There's probably a cleaner way to do this. */
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"]) {
    pointer-events: none;
}
/* Hide Profile effects */
[class*="profileEffects"] {
  display:none;
}

/* Hide typing indicators toggle button */
[aria-label="Enable Typing"] {
    display: none;
}
/* Hide shop button in Home */
a[data-list-item-id*="shop"] { display: none; }

/* Hide Nitro button in Home */
a[data-list-item-id$="___nitro"] { display: none; }
/* *[href="/discovery"],  */
/* *[href="/store"],  */
/* *[href="/activities"], */
/* *[href*="/snowsgiving"], */
/* div[aria-label="Gift Inventory"],  */
/* div[aria-label="Nitro"],  */
button[aria-label="Apps"], 
button[aria-label="Send a gift"], 
button[aria-label="Open sticker picker"] {
    display: none;
}
/* Hide 'Explore Discoverable Servers'/'Discover' in server page */
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"])
{
  display: none;
}

/* Make a buncha stuff black */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
.theme-midnight {
    --background-secondary-alt: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --input-background: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-low: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-lowest: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --bg-surface-overlay: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --chat-background-default: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-lower: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
}

/* Hide nitro nameplate decorations*/
[class*="plated"] [style^="background: linear-gradient("] { display: none; }

/* Hide DM Wallpapers */
div[class*="wallpaperContainer"] {
    background-image: none !important;
}

/* Remove Profile Reactions */
[class*='statusPopover'], [class*='avatarPopover__'], [class*='activityPopover__'] {display:none;}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=-body] > span[class^="-clickable"] [role="button"],
div[class*=-compact] span[class*="-clanTagChiplet"], /* (ty SupDos on Github) */
span[class*="-clanTagChiplet"],
span[class*="-clanTag"]
{
    display: none;
}

/* Hide clan (guild) tags */
[class*="chipletContainerInner_"]:has([src*="/clan-badges/"]) { display: none; }


/*Don't cover server list with panel*/
.visual-refresh section[class*="panels"] {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: content-box;

  [class*="buttons"] button {
    padding: 0px;
  }
  
}
.visual-refresh nav[class*="guilds"] {
  margin-bottom: 0 !important;
  mask: 0;
}
.visual-refresh div[class*="sidebar"]:after {
    height: 0 !important;
}
.visual-refresh div[class*="unreadMentionsIndicatorBottom"] {
    padding-bottom: 8px !important;
}

/* Turn animated role colours static */
[class*=usernameGradient] {
    background: var(--custom-gradient-color-1);
    -webkit-background-clip: text;
    &::after {
        display: none
    }
}

/* Hide nameplates background decoration on members list and DM list (ty Regalia) */
div[class*="-container"] > div[class$=-videoContainer] {
    display: none;
}


/*Hide Add Emoji button*/
div[class*=emojiPicker] > div[class*=header] > button { display: none; }

/*Hide every chatbar button OTHER THAN emoji*/
[class*="channelTextArea"] [class*="buttons"] > div:not(:has([class*="emojiButton"])) {
    display: none;
}

/*Hide username fonts*/
.c19a557985eb7793-username._89a318b9387eda06-dnsFont {
  font-family: var(--font-primary);
}
[data-username-with-effects] {
  animation: none !important;
  font-family: var(--font-display);
  color: var(--text-default) !important;
  -webkit-text-fill-color: unset !important;
  --custom-display-name-styles-gradient-start-color: var(--text-default);
  --custom-display-name-styles-gradient-end-color: var(--text-default);
  --custom-display-name-styles-main-color: var(--text-default);
  &::before {
    content: unset !important;
  }
}

/*Hide Quests button in DM list*/
[href="/quest-home"] {display: none}

/* remove "Invite to Voice" suggestion button when connecting to a voice channel */
[class*='containerDefault'] > [class*='list'] > [class*='animation'] {
    display: none;
}

/* Align sticker names properly like actually wtf discord do you not know how to work with your own application */
[class^=clickableSticker] { width: fit-content; }
