/* Dubyas list of annoying stuff he hides in discord using Quick CSS */

/* Disable emoji inspection upsell (ty Regalia) */
[class^="nitroTextAndBadge_"], button:has([class^="premiumIcon_"]),
[class^="emojiSection_"] [class^="flex_"] div[class*="text-sm-normal"]
{
    display:none;
}

/* Disable Popup ads */
.containerWrapper_fa6aa6,                   /* "Like this avatar decoration" popup on user modal */
container__9dbd2                            /* Profile effect ad */ {
    display: none;
}

/* Hide things in DMs page */
.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/shop"], /* Hide 'Shop' Tab */
.channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/store"] /* Hide 'Ntiro' Tab */ {
  display: none;
}

/* Avatar Decorations */
svg[class^="avatarDecoration"],             /* Avatar Decorations */
img[class^="avatarDecoration"],             /* Avatar Decorations in Messages */
/* Fix 'View Profile' selector with hidden decoration */
[class*="bannerSVGWrapper_"] > mask > image {
    display: none;
}
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_] {
  top: -80px;
  left: 0px;
  position: relative;
}

/* Disable nitro icon on members list hover and opening nitro page */
/* Some discords have the boosting capitalized, some don't, no clue why. There's probably a cleaner way to do this. */
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"]) {
    pointer-events: none;
}

/* Make Super Reactions less annoying (ty Regalia) */
div[class^="effectsWrapper"] {
    display: none;
} 
img.emoji{
    opacity: 100;
}
div[class*="shakeReaction"] {
    animation: none !important;
}
/* Hide Nitro gift button */
button[aria-label="Send a gift or Boost this server"] {
    display: none;
}
/* Hide Nitro gift button in DMs */
button[aria-label="Send a gift"] {
    display: none;
}
/* Hide GIF picker button */
button[aria-label="Open GIF picker"] {
    display: none;
}
/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}
/* Hide typing indicators toggle button */
button[aria-label="Enable Typing"] {
    display: none;
}
/* Remove em profile effects */
div[class^="profileEffects"] {
    display: none;
}

/* Hide shop button in Home */
a[data-list-item-id*="shop"] { display: none; }

/* Hide Nitro button in Home */
a[data-list-item-id$="___nitro"] { display: none; }
/* *[href="/discovery"],  */
/* *[href="/store"],  */
/* *[href="/activities"], */
/* *[href*="/snowsgiving"], */
/* div[aria-label="Gift Inventory"],  */
/* div[aria-label="Nitro"],  */
button[aria-label="Apps"], 
button[aria-label="Send a gift"], 
button[aria-label="Open sticker picker"] {
    display: none;
}
/* Hide 'Explore Discoverable Servers'/'Discover' in server page */
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"])
{
  display: none;
}

/* Make a buncha stuff black */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
.theme-midnight {
    --background-secondary-alt: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --input-background: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-low: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-lowest: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --bg-surface-overlay: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --chat-background-default: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
    --background-base-lower: color-mix(in oklab,var(--neutral-100) 100%,var(--theme-base-color,#000) var(--theme-base-color-amount,0%)) !important;
}

/* Hide nitro nameplate decorations*/
[class*="plated"] [style^="background: linear-gradient("] { display: none; }

/* Hide DM Wallpapers */
div[class*="wallpaperContainer"] {
    background-image: none !important;
}

/* Remove Profile Reactions */
[class*='container_'] > [class^='popover'], [class*='avatarPopover__']{display:none;}

/* Hide clan (guild) tags */
span[class*="clanTag_"]
{
    display: none;
}

/* Hide clan (guild) tags */
[class*="chipletContainerInner_"]:has([src*="/clan-badges/"]) { display: none; }

/* Hide useless bar at the top */
.visual-refresh {
  --vr-header-snippet-top: 0px;
  --vr-header-snippet-server-padding: 16px;
  --vr-header-snippet-space: 230px;
  --vr-header-snippet-button-padding: 0;

  div.chat_f75fb0:not(.threadSidebarOpen_f75fb0) div.subtitleContainer_f75fb0,
  main.container__133bf,
  div.chatLayerWrapper__01ae2 {
    & section.container__9293f {
      padding-right: var(--vr-header-snippet-space);
    }
  }

  div.headerBar__8a7fc.overlay__8a7fc {
    padding-right: var(--vr-header-snippet-space);

    & .tab__65d41,
    & .searchBar__1ac1c {
      -webkit-app-region: no-drag;
    }
  }

  div.videoControls_bfe55a div.subtitleContainer__49508 {
    padding-right: calc(var(--vr-header-snippet-space) - 20px);

    & .toolbar__9293f {
      -webkit-app-region: no-drag;
    }
  }

  div.page_c48ade {
    &:not(:has(> div.chat_f75fb0)) {
      anchor-name: --vr-header-snippet;
    }

    & > div.chat_f75fb0 {
      anchor-name: --vr-header-snippet;
    }
  }

  div.base_c48ade {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

    &:has(div.bar_c38106 > div.trailing_c38106 .updateIconForeground__49676) {
      & div.chat_f75fb0,
      & div.subtitleContainer_f75fb0,
      & main.container__133bf,
      & div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
          padding-right: calc(var(--vr-header-snippet-space) + 50px);
        }
      }

      & div.videoControls_bfe55a .topControls_bfe55a div.toolbar__9293f {
        margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
      }
    }

    & > div.content_c48ade {
      z-index: 0;
    }

    & > div.bar_c38106 {
      position: absolute;
      position-anchor: --vr-header-snippet;
      top: var(--vr-header-snippet-top);
      right: anchor(right);
      width: anchor-size(width);
      padding: 0 var(--vr-header-snippet-button-padding) 0 0;

      & > .title_c38106 {
        display: none;
      }
    }

    &:has(> .notice__6e2b9) {
      & > div.bar_c38106 {
        top: anchor(top);
      }
    }

    & div.trailing_c38106 {
      background: none;
      border: none;
      height: var(--custom-channel-header-height);
    }

    &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0)
      > .bar_c38106 {
      z-index: 0;
    }
  }

  :not(:has(div.page_c48ade > div.chat_f75fb0))
    div.base_c48ade
    > div.bar_c38106 {
    right: 0 !important;
  }

  ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
    margin-top: var(--vr-header-snippet-server-padding);
  }

  section.header__0b563 div.toolbar__9293f,
  section.header_c791b2 div.toolbar__9293f,
  section.header_c791b2 div.children__9293f,
  :not(.videoControls_bfe55a) div.topic__6ec1a {
    -webkit-app-region: no-drag;
  }

  .div.videoControls_bfe55a .topControls_bfe55a {
    z-index: -1;
  }
}

/* Make chat input field properly aligned */
/**
 * @name Refreshed Seamless Chat Bar
 * @author NSPG911
 * @version 1.1.0
 * @description Moves around elements near the Chat Bar to be seamless with the message bar
 * @source https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css
*/

:root {
  /* Custom padding for the chat box */
  --rscb-chat-box-padding: 8px;
  /* Whether you want the chat to not move up *\
  \*    and down when someone starts typing   */
  --rscb-no-jump-chat: 0;
  /* Whether you want the messages to clip through *\
  \*  the gap between slowmode and typing people   */
  --rscb-clip-chat-through-typing-bar: 0;
}

.visual-refresh .form_f75fb0 {
  display: flex;
  flex-direction: column;
  padding: 4px var(--rscb-chat-box-padding) var(--rscb-chat-box-padding)
    var(--rscb-chat-box-padding) !important;
  /* Normal chatbar */
  .channelTextArea_f75fb0 {
    margin-bottom: 0px;
    margin-right: 1px;
    /* reply bar */
    .stackedBars__74017 {
      border-bottom-color: transparent !important;
      background-color: var(--chat-background-default);
    }
  }
  /* slowmode bar + typing indicator */
  .base_b88801 {
    border-color: transparent !important;
    position: static;
    order: -1;
    background: transparent !important;
    background-image: transparent !important;
    border: 1px solid var(--border-faint);
    border-bottom: none;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    .typing_b88801 {
      border-color: transparent !important;
    }
    .typingDots_b88801,
    .cooldownText_b21699 {
      background-color: var(--chat-background-default);
      height: 24px;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 8px 8px 0 0;
      border: 1px solid var(--border-faint) !important;
      border-bottom-color: transparent !important;
      /* because they dont have the same position */
      &.typingDots_b88801 {
        transform: translateX(-1px);
        &:not(:has(span > strong)) {
          display: none !important;
        }
      }
      &.cooldownText_b21699 {
        transform: translateY(1px);
      }
    }
  }
  .threadSuggestionBar__841c8 {
    /* fix a certain pixel issue that bugged me to oblivion */
    border-top: unset !important;
  }
  .channelAttachmentArea_b77158 {
    background-color: var(--chat-background-default);
  }
  /* the stars of the show, the :has */
  /* check for typing thing */
  &:has(> .typing_b88801 > .typingDots_b88801 > span > strong)
    .channelTextArea_f75fb0 {
    border-top-left-radius: 0 !important;
  }
  /* check for cooldown thing */
  &:has(> .typing_b88801 > .cooldownWrapper_b21699) .channelTextArea_f75fb0 {
    border-top-right-radius: 0 !important;
  }
}

.messagesWrapper__36d07:not(
    :has(+ .formWithLoadedChatInput_f75fb0 > .typing_b88801)
  )
  .scrollerContent__36d07 {
  padding-bottom: calc(var(--rscb-no-jump-chat) * 25px);
}
.scrollerInner__36d07 {
  padding-bottom: calc(var(--rscb-clip-chat-through-typing-bar) * 25px);
}
.scroller__36d07 {
  margin-bottom: calc(var(--rscb-clip-chat-through-typing-bar) * (0px - 25px));
}
